<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/login.css">
  </head>
  <body>


    <div class="d1">

      <div class="d2">
        <div id="formContent">

          <form class="card mt-4" action="otp" method="post">
            <h1 class="d6">LogIn</h1>
            <input type="text" id="login" class="d3" name="mail" placeholder="Enter Your Email Address" required="">
            <input type="submit" class="d4" value="Log In">
          </form>



        </div>
      </div>

    </div>
    <script type="text/javascript">
        function valuenew(){
          const value=document.getElementById("val");
          localStorage.setItem("email",value.value);

        }
    </script>


























  </body>
</html>
