<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
      <div class="b1">
          <div class="b2">
              <h1>Choose Your Action</h1>
          </div>
          <div class="b3">
          <a href="register"><button type="button"class="bt" name="button"><p class="pp">Signup</p></button></a>
          <a href="login"><button type="button"class="bt" name="button"><p class="pp">Signin</p></button></a>
          </div>
      </div>
  </body>
</html>
