<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/login.css">
  </head>
  <body>
    <div class="d1">

      <div class="d2">
        <div id="formContent">

          <form action="/login"method="POST">
            <h1 class="d6">LogIn</h1>
            <input type="text" id="login" class="d3" name="email" placeholder="login" required="">
            <input type="password" id="password" class="d3" name="password" placeholder="password" required="">
            <input type="submit" class="d4" value="Log In">
          </form>

          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a  href="fp" class="d5">Forgot Password?</a>
          </div>

        </div>
      </div>

    </div>
  </body>
</html>
