<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./css/sr.css">
  </head>
  <body>





    <div>
        <div class="d4">
          <h1 >Password Change Successful<h1>
        </div>
        <div class="b1">
          <div class="b2">
              <h1>Choose Your Action</h1>
          </div>
          <div class="b3">
          <a href="register"><button type="button"class="bt" name="button"><p class="pp">Signup</p></button></a>
          <a href="login"><button type="button"class="bt" name="button"><p class="pp">Signin</p></button></a>
          </div>
        </div>

        </div>


  </body>
</html>
