<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>registration</title>
    <<link rel="stylesheet" href="../css/styleregister.css">
  </head>
  <body>
    <section class=>
<div class="d1">
  <div class="d2" style="border-radius: 15px;">
    <div class="d3">
      <h3 class="d4">Registration Form</h3>
    </div>
    <form action="/register" method="POST">

      <div class="">
        <div class="">

          <div class="">
            <input type="text" name="firstname"id="firstName" class="d5" />
            <label class="d6" for="firstName">First Name</label>
          </div>

        </div>
        <div class="">

          <div class="">
            <input type="text"name="lastname" id="lastName" class="d5" />
            <label class="d6" for="lastName">Last Name</label>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="">

          <div class="">
            <input type="text"  class="d5"    id="birthdayDate"  name="birthdate"  />
            <label for="birthdayDate" class="d6">Birthday</label>
          </div>

        </div>


      <div class="">
        <div class="">

          <div class="">
            <input type="email" name="email"id="emailAddress" class="d5" />
            <label class="d6" for="emailAddress">Email</label>
          </div>

        </div>
        <div class="">

          <div class="">
            <input type="tel" name="phone"id="phoneNumber" class="d5" />
            <label class="d6" for="phoneNumber">Phone Number</label>
          </div>

        </div>
      </div>
      <div class="">
        <div class="">

          <div class="">
            <input type="password" name="password" class="d5" />
            <label class="d6" >Password</label>
          </div>

        </div>
        <div class="">

          <div class="">
            <input type="password" name="cpassword"class="d5" />
            <label class="d6" >Confirm password</label>
          </div>

        </div>
      </div



      <div class="mt-4 pt-2">
        <input class="d7" type="submit" value="Submit" />
      </div>

    </form>
  </div>
</div>
</section>
  </body>
</html>
