<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/login.css">
  </head>
  <body>



    <div class="d1">

      <div class="d2">
        <div id="formContent">

        <form  action="passreset" method="post">
            <h1 class="d6">Change Password</h1>
            <input type="text" id="login" class="d3" name="mail" placeholder="Enter Your Email Address" required="">
            <input type="text" id="login" class="d3" name="password" placeholder="Enter New Password" required="">
            <input type="text" id="login" class="d3" name="cpassword" placeholder="Confirm Password" required="">
            <input type="submit" class="d4" value="Submit">
          </form>



        </div>
      </div>

    </div>
  </body>
</html>
